exportPattern("^[[:alpha:]]+")

import("lme4",
  "Matrix",
  "mvtnorm",
  "dplyr",
  "matrixcalc",
  "future.apply",
  "reshape2")

importFrom("stats", "formula", "lm", "model.frame", "model.matrix",
             "predict", "quantile", "residuals", "rnorm", "sigma",
             "weights")

S3method(print, EBLUP)
S3method(print, ebpLMMne)
S3method(print, plugInLMM)
S3method(summary, EBLUP)
S3method(summary, ebpLMMne)
S3method(summary, plugInLMM)
